*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(ChukeBG.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.navbar{
    height: 10%;
    display: flex;
    align-items: center;
}
.logo{
    margin-top: 50px;
    width: 100px;
    cursor: pointer;
    transition: transform 0.5s;
}
.logo:hover{
    transform: translateY(-5px);
}
.menu-icon{
    width: 50px;
    cursor: pointer;
    margin-left: 50px;
    margin-bottom: 5px;
    transition: transform 0.5s;
}
.menu-icon:hover{
    transform: translateY(-5px);
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    margin-left: 69px;
    transition: transform 0.5s;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 15;
    font-family: 'Segoe UI';
    font-weight: bold;
    text-shadow: 0 0 20px #999;
    transition: transform 0.5s;
}
nav ul li:hover{
    transform: translateY(-5px);
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
}
.col1{
    flex-basis: 50%;
}
.col{
    flex-basis: 50%;
}
h1{
    color: #fff;
    width: 330px;
    font-size: 100px;
    margin-left: 100px;
    text-shadow: 0 0 5px red;
    transition: transform 0.5s;
}
h1:hover{
    transform: translateY(-5px);
}
.col1 p{
    margin-top: 10px;
    margin-left: 0px;
    color: #fff;
    font-size: 20px;
    line-height: 15px;
    transition: transform 0.5s;
}
.col1 p:hover{
    transform: translateY(-5px);
    
}
.col p{
    margin-top: 10px;
    color: #fff;
    font-size: 14px;
    line-height: 15px;
    transition: transform 0.5s;
}

button{
    width: 180px;
    color: white;
    font-size: 20px;
    padding: 12px 0;
    background: transparent;
    border: 1px solid #999;
    border-radius: 20px;
    outline: none;
    margin-top: 10px;
    box-shadow: 0 0 10px #999;
    cursor: pointer;
    transition: transform 0.5s;
}
button:hover{
    transform: translateY(-5px);
}
.card1{
    box-shadow: 0 0 10px #999;

    width: 900px;
    height: 500px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin-left: 100px;
    background-image: url(Chuke.jpg);
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
.card1:hover{
    transform: translateY(-10px);
}
.card p{
    text-shadow: 0 0 5px blue;
    font-size: 80px;
}
h5{
    margin-top: 10px;
    margin-left: -1px;
    color: #fff;
    font-size: 25px;
    text-shadow: 0 0 5px #999;
}

